p.QQQQS:hover {
    border-left: 3px solid skyblue;
    background-color: #11111111;
    /*padding-left: 10px;*/
}
p.QQQQS {
	margin: 0;
    margin-left: 2em;
    padding-left: 0.5em;
    transition-duration: 0.3s;
}
h7 {
    margin: 2em;
}
.blockquote-footer {
	text-align: right;
}
.rhesis {
	font-size: 0.7em;
	font-style: italic;
}