{% extends "base/layout.html" %}
{% load static %}

{% block title %}index{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block bodyleft %}
    <h2 class="head">最新文章</h2>
    {% for blog in bloglist %}
    <div class="list-group">
      <a href="{% url 'detail' blog.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ blog.title }}</h5>
          <small class="text-muted">{{ blog.update_time }}</small>
        </div>
        <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small> -->
      </a>
    </div>
    {% endfor %}
{% endblock %}

{% block bodyright %}
    
{% endblock %}

{% block bodyjs %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("li.nav-item").siblings().removeClass("active");
      $("li[page-id='index']").addClass('active');
    })
  </script>
{% endblock %}
